.login-page{
    background-color: #50ebd6;
}
.login-box{
    width: 400px;
}

.login-box-msg{
    text-align: justify;
}
span{
    cursor: pointer;
}
span #faclose{
    display: none;
}

.page-title
.title_left h3{
    margin-left: 15px;
}

.toast-top-right{
    top: 114px !important;
}

.table-condensed{
    width: 270px;
}





